<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>Canvas Detalhes</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-item>
    <ion-label position="floating">Digite o texto</ion-label>
    <ion-input id="text-input"></ion-input>
  </ion-item>
  <ion-button id="update-text">Atualizar Texto</ion-button>
  <ion-button id="confirm-button">Confirmar</ion-button>

  <div style="display: flex;">
    <div id="container" style="border: 1px solid black;"></div>
    <div style="margin-left: 20px;">
      <div>
        <h3>Detalhes do Retângulo:</h3>
        <p id="rect-details">ID: - , X: - , Y: -</p>
      </div>
      <div>
        <h3>Detalhes do Círculo:</h3>
        <p id="circle-details">ID: - , X: - , Y: -</p>
      </div>
      <div>
        <h3>Detalhes da Mensagem:</h3>
        <p id="message-details">ID: - , Mensagem: -</p>
      </div>
    </div>
  </div>
</ion-content>
